<div class="form-control">
    {{ form_label(input) }}
    <div class="input-group" {{ stimulus_controller('form-plus-minus') }}>
        <button class="btn btn-square btn-outline btn-error" data-action="click->form-plus-minus#minus" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
            </svg>
        </button>
        {{ form_widget(input, {'attr': {'class': 'input input-bordered w-full', 'data-form-plus-minus-target': 'input'}}) }}
        <button class="btn btn-square btn-outline btn-success" data-action="click->form-plus-minus#plus" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        </button>
    </div>
    {{ form_errors(input) }}
</div>