<div {{ stimulus_controller('form-hide') }}>
    <div>
        <label class="font-semibold text-lg flex justify-between cursor-pointer">
            <span>{{ toggle_label }}</span>
            <input type="checkbox"
                   class="toggle toggle-secondary"
                   {{ stimulus_action('form-hide', 'toggle', 'click') }}
                    {% if toggled %} checked {% endif %}
            >
        </label>
    </div>
    <div class="flex flex-col gap-6 mt-6 {% if not toggled %} hidden {% endif %}"
         {{ stimulus_target('form-hide', 'mainContent') }}
    >
        {% block form_body %}
        {% endblock form_body %}
    </div>
</div>