<a
    href="{{ path('app_items', {userId: app.user.id}) }}"
    class="flex items-center gap-4 py-2.5 px-4 rounded-lg border border-slate-100 shadow hover:bg-gray-100 overflow-x-auto">
    <div
            class="inline-block w-3 h-3 rounded-full bg-secondary"
    ></div>
    <div>
        <h2 class="text-xl">{{ 'All items'|trans }}</h2>
        <p class="text-sm text-gray-600">{{ itemsCount }} {{ 'items'|trans }}</p>
    </div>
</a>