{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <article class="m-8 flex flex-col gap-8">
            <section>
                <h1 class="h1 mb-4">Categories</h1>
            </section>
    </article>
{% endblock %}