{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <article class="m-8 mt-6">
            <section>
                <h1 class="h1 mb-10">Categories</h1>
                <div class="flex flex-col gap-5 mb-12" {{ stimulus_controller('kebab-menu') }}>
                {% for category in categories %}
                    {{ include('category/_category_preview.html.twig') }}
                {% endfor %}
                </div>
                {% include 'form/_add_link.html.twig' with {
                    'action': path('app_category_create', {userId: app.user.id}),
                    'text': 'New category',} %}
            </section>
    </article>
{% endblock %}