@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h1 {
        @apply font-extrabold text-4xl text-gray-800
    }
}

.justify-self-flex-end {
    justify-self: flex-end;
}

label.required::after {
    content: "*";
    color: red;
}