<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="flex flex-col gap-6 w-full justify-center">
  <h1>{{ warranties|length }} items are about to expire!</h1>
  {% for warranty in warranties %}
  <ul>
    <li>{{ warranty.item.name }}</li>
    <li>{{ warranty.item.amount }}</li>
    <li>{{ warranty.item.purchase|date("d.m.Y") }}</li>
    <li>{{ warranty.expiration|date("d.m.Y") }}</li>
  </ul>

  {% endfor %}

</div>



</body>
</html>