{% extends 'base.html.twig' %}

{% block title %} Expiry - Welcome! {% endblock %}

{% block body %}

    <div class="prose p-8">
        <h1 class="mb-0">Welcome to Expiry!</h1>
        <p class="text-lg mt-0 mb-8">Application for storing receipts</p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary">See inventory</a>
        {% else %}
            <p class="text-lg">You must be registered to use this application!</p>
            <a class="btn btn-primary">Sign up</a>
        {% endif %}
    </div>

{% endblock %}