{% extends 'base.html.twig' %}

{% block title %} Expiry - Welcome! {% endblock %}

{% block body %}

    <article>
        <h1>Welcome to Expiry!</h1>
        <p>Application for storing receipts!</p>
    </article>

{% endblock %}