{% extends 'base.html.twig' %}

{% block title %} Expiry - Welcome! {% endblock %}

{% block body %}

    <article class="prose">
        <h1 class=>Welcome to Expiry!</h1>
        <p class="text-lg">Application for storing receipts!</p>
        <button class="btn btn-primary">Submit</button>
    </article>

{% endblock %}