<div class="toast toast-bottom toast-end bottom-10 lg:top-20 fixed z-30 h-max">
    {% for message in app.flashes('error') %}
        {% include('components/_flash_item.html.twig') with {'color': 'bg-error'} %}
    {% endfor %}
    {% for message in app.flashes('success') %}
        {% include('components/_flash_item.html.twig') with {'color': 'bg-success'} %}
    {% endfor %}
    {% for message in app.flashes('info') %}
        {% include('components/_flash_item.html.twig') with {'color': 'bg-info'} %}
    {% endfor %}
</div>