<div class="toast toast-bottom toast-end bottom-10 lg:top-20 fixed z-50">
    {% for message in app.flashes('file_error') %}
        <div class="flex bg-error p-3.5 rounded-xl gap-8 justify-between items-center" {{ stimulus_controller('toast-hide') }}>
            <span>{{ message|trans }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" data-action="click->toast-hide#close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
    {% endfor %}
    {% for message in app.flashes('file_success') %}
        <div class="flex bg-success p-3.5 rounded-xl gap-8 justify-between items-center" {{ stimulus_controller('toast-hide') }}>
            <span>{{ message|trans }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" data-action="click->toast-hide#close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
    {% endfor %}
</div>