<section class="w-full">
    <div class="divider"></div>
    <div
            class="w-full flex flex-col items-center "
            {{ stimulus_controller('search-preview', {url: path('_app_item_search', {id: app.user.id})}) }} >
        <div class="relative w-full max-w-xl">
            <input type="search" placeholder="{{ 'Search your items'|trans }}..."
                   class="input input-bordered w-full"
                   data-action="input->search-preview#onSearchInput"
                   data-search-preview-target="input"
            />
            <div
                    class="absolute z-20 w-full top-14"
                    data-search-preview-target="result">
            </div>
        </div>
    </div>
</section>