{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
    <article class="flex flex-col mt-6 mb-24 mx-8 gap-6 items-center">
        <h1 class="h1">{{ item.name }}</h1>

    </article>
{% endblock %}