{% extends 'base.html.twig' %}

{% block title %}New item{% endblock %}


{% block body %}
    <article>
        <h1 class="h1">Add files</h1>

        <ul>
            {% for file in item.itemFiles %}
                <li><a href="{{ path('app_item_file_download', {userId: user.id, catId: category.id, itemId: item.id, fileId: file.id}) }}">{{ file.originalFilename }}</a></li>
            {% endfor %}
        </ul>

        <form action="{{ path('app_item_file_add', {userId: user.id, catId: category.id, itemId: item.id}) }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="item-file" class="file-input file-input-bordered">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </article>

{% endblock %}