{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <article class="m-8 mt-6">
        <section>
            <h1 class="h1 mb-10">{{ category.name }}</h1>

            <div class="flex flex-col gap-8 mb-12">
                {% for item in category.items %}
                    {{ include('item/_item_preview.html.twig') }}
                {% endfor %}
            </div>
        </section>

        <article class="flex flex-col gap-4 items-center lg:items-start">

            {% include 'components/_add_link.html.twig' with {
                'action': path('app_item_create_category', {userId: app.user.id, catId: category.id}),
                'text': 'Add item',} %}
            <div class="divider"></div>

            {% include 'components/_edit_link.html.twig' with {
                'action': path('app_category_edit', {userId: app.user.id, catId: category.id}),
                'text': 'Edit category',} %}

            {% include 'components/_delete_link.html.twig' with {
                'action': '#',
                'text': 'Delete category',} %}
        </article>
    </article>
{% endblock %}