{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <article class="m-8 mt-6">
        <section>
            <h1 class="h1 mb-10">{{ category.name }}</h1>
        </section>
    </article>
{% endblock %}